---
import '@fontsource/merriweather/300-italic.css'
import '@fontsource/merriweather/300.css'
import '@fontsource/merriweather/400-italic.css'
import '@fontsource/merriweather/400.css'
import '@fontsource/merriweather/700-italic.css'
import '@fontsource/merriweather/700.css'
import { CVLink as Link } from '../components/cv/CVLink'
import { CVSection } from '../components/cv/CVSection'
import { JobSection } from '../components/cv/JobSection'
import { KeyTechnologies } from '../components/cv/KeyTechnologies'
import { AWSLogo } from '../components/tech-logos/AWSLogo'
import { ArgoCdLogo } from '../components/tech-logos/ArgoCdLogo'
import { CLogo } from '../components/tech-logos/CLogo'
import { CSharpLogo } from '../components/tech-logos/CSharpLogo'
import { DockerLogo } from '../components/tech-logos/DockerLogo'
import { DynamoDBLogo } from '../components/tech-logos/DynamoDBLogo'
import { ElmLogo } from '../components/tech-logos/ElmLogo'
import { GoLogo } from '../components/tech-logos/GoLogo'
import { GoogleCloudLogo } from '../components/tech-logos/GoogleCloudLogo'
import { GraphQLLogo } from '../components/tech-logos/GraphQLLogo'
import { KubernetesLogo } from '../components/tech-logos/KubernetesLogo'
import { PostgresLogo } from '../components/tech-logos/PostgresLogo'
import { PrometheusLogo } from '../components/tech-logos/PrometheusLogo'
import { PythonLogo } from '../components/tech-logos/PythonLogo'
import { ReactLogo } from '../components/tech-logos/ReactLogo'
import { RedisLogo } from '../components/tech-logos/RedisLogo'
import { RustLogo } from '../components/tech-logos/RustLogo'
import { TerraformLogo } from '../components/tech-logos/TerraformLogo'
import { TypeScriptLogo } from '../components/tech-logos/TypeScriptLogo'
import { CGILogo } from '../logos/CGI'
import { Qubit } from '../logos/Qubit'
import bathUni from '../logos/bath-uni.gif'
import entale from '../logos/entale.png'
import redBadger from '../logos/rb.png'
import vitamin from '../logos/vitamin.png'

const logoBaseStyles = 'absolute hidden mx-8 right-full lg:block print:!hidden'

const fadeInDelay = Astro.url.searchParams.get('fadeInDelay')

const htmlProps = fadeInDelay
  ? { style: `--fade-in-delay: ${fadeInDelay}` }
  : {}
---

<html lang="en-GB" class="font-serif" {...htmlProps}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpeg" href="/favicon.jpeg" />
    <meta name="viewport" content="width=device-width" />
    <title>Sam Rowe - CV</title>
  </head>
  <body class="flex flex-col text-sm leading-6" style="--fade-in-step:1">
    <div class="m-4 my-8 sm:mx-auto sm:my-16 sm:max-w-[608px] md:my-32">
      <div>
        <h1 class="text-sm+ font-bold"><a href="/">Sam Rowe</a></h1>
        <!-- <p class="lining-nums"><a href="tel:+447955059583">07955059583</a></p> -->
        <p class="animate-fade-in">
          <a href="mailto:sam@samrowe.io">sam@samrowe.io</a>
        </p>
      </div>

      <CVSection title="About me" fadeInTitleStep={2}>
        <p class="animate-fade-in" style="--fade-in-step:3">
          I am a full stack developer who loves working in collaborative,
          cross-functional teams across the entire software development
          lifecycle. I’m always keen to learn new skills and adapt quickly to
          new challenges.
        </p>
      </CVSection>

      <KeyTechnologies fadeInTitleStep={4} fadeInBodyStep={5} />

      <CVSection title="Employment history" fadeInTitleStep={6}>
        <JobSection
          company="Vitamin London"
          companyLink="https://www.multivitaminstudio.com"
          techUsed={[
            'Rust',
            'Kubernetes',
            'Argo CD',
            'GitHub Actions',
            'TypeScript',
            'GraphQL',
            'MQTT',
            'PostgreSQL',
            'MySQL',
            'Redis',
            'FFmpeg',
            'NGINX',
          ]}
          techLogos={[
            RustLogo,
            TypeScriptLogo,
            TerraformLogo,
            KubernetesLogo,
            DockerLogo,
            AWSLogo,
            ReactLogo,
          ]}
          roles={[
            {
              title: 'Tech Lead',
              from: 'Oct 2022',
              to: 'July 2023',
            },
          ]}
          ]
          fadeInStep={7}
        >
          <div
            class:list={[
              logoBaseStyles,
              'bg-black rounded px-5 py-4 top-0 w-20 xl:w-[6.25rem] xl:px-6 xl:py-5 xl:rounded-md',
            ]}
          >
            <img src={vitamin.src} alt="Vitamin London logo" />
          </div>

          <ul class="ml-4 list-disc">
            <li>
              Developed and deployed a sophisticated platform for remotely
              controlling and live-streaming video from DJI drones for <Link
                href="https://skyboundrescuerproject.com/"
              >
                Skybound Rescuer
              </Link>. This included exploration and testing of different
              combinations of video streaming technologies (such as HLS and
              HTTP-FLV) and server configurations to achieve the best possible
              latency and video quality in an economical way. The technology
              used for this complex platform included Kubernetes, Docker,
              Terraform, Redis, MySQL, WebSockets, MQTT, Nginx and FFmpeg.
            </li>
            <li>
              Led a team to develop from scratch a career and events platform
              for military veterans. We were able to ship this project in just a
              few months and it is currently accessbile at <Link
                href="https://www.troopr.co.uk/"
              >
                Troopr.co.uk
              </Link>. This platform was created using Next.js, Typescript,
              Postgres and integrated with Stripe for secure payments.
            </li>
            <li>
              Resolved major performance issues with <Link
                href="https://theracingmanager.com/"
              >
                The Racing Manager’s
              </Link> website and React Native mobile apps through a combination
              of profiling, improving SQL queries to fetch data in batches and
              avoid the <Link
                href="https://docs.sentry.io/product/issues/issue-details/performance-issues/n-one-queries/"
              >
                N+1 query problem
              </Link>, GraphQL query improvements, and caching. This massively
              improved the user experience for large teams on key screens from
              several minutes of load time to under 10-15 seconds.
            </li>
            <li>
              Provided technical leadership for <Link
                href="https://theracingmanager.com/"
              >
                The Racing Manager
              </Link> on a roadmap for developing the next major iteration of
              the platform to help open it up to a wider audience. This was
              simultaneously balanced with necessary improvements and fixes to
              the existing platform.
            </li>
            <li>
              Led the development of multiple sites for <Link
                href="https://silverrailtech.com/"
              >
                SilverRail
              </Link> (such as <Link
                href="https://trainoverplane.silverrailtech.com/"
              >
                Train over Plane
              </Link>) and the successful migration of their existing Wordpress
              website to a much more reliable React-based site using Sanity CMS
              as the backend. This helped dramatically improve site reliability,
              lowered maintenance costs and improved the authoring experience
              for new site content.
            </li>
            <li>
              Oversaw the integration of Freshsales CRM and Mews hospitality
              management system for <Link
                href="https://dev-fe.desertspringsresort.es"
              >
                Desert Springs
              </Link> to improve and simplify their existing business processes.
              This integration was built using TypeScript and AWS DynamoDB.
            </li>
            <li>
              I proactively identified current and future skills gaps in our
              team and addressed them by mentoring developers to improve their
              skills and experience, and additionally worked with upper
              management to hire new team members.
            </li>
            <!-- <li>
              Increased the autonomy of more junior developers by transitioning simpler projects from legacy Kubernetes clusters to PaaS (platform as a service) providers so they can deploy their own work at a much faster cadence than before.
            </li>
            <li>
              Transitioned the team to tools and working practices
              which improved our pace of development (such as Typescript,
              Tailwind CSS and an improved git workflow)
            </li>
            <li>
              Worked with the team to provide technical leadership on which
              tools, hosting services and development practices we should use
              and standardise on
            </li>
            <li>
              Deployed and monitored a diverse mix of projects using AWS,
              Kubernetes and Render.com
            </li> -->

            <!--

- Addressed significant tech debt in a pragmatic way
- Across many projects
- Drones
- Led the onboarding
- Debugged legacy apps
- Deployed apps to different services depending on complexity - from render.com to k8s
- Helped transition the team to better best practices - e.g. TS, git workflow
- Engaged and educated rest of business on technical best practices and issues
- Interviewed, review tech tests and hired new engineers
- Identified the skill sets of the current team and what skills gaps we had (esp. with respect to upcoming projects)
- Delivering projects according to budget available

             -->
            <!--
As a Tech Lead, I have taken on numerous responsibilities that have contributed to the growth and success of my team and company. My experience has been focused on addressing significant tech debt in a pragmatic way, working across many projects, and leading the onboarding of new team members. I have also debugged legacy apps and deployed apps to different services depending on complexity, from render.com to k8s.

Furthermore, I have been instrumental in helping to transition the team to better best practices, such as Typescript and Git workflow, as well as engaging and educating the rest of the business on technical best practices and issues. As a Tech Lead, I have interviewed job candidates, reviewed tech tests, and hired new engineers based on their qualifications and skill sets.

One of my key responsibilities has been to identify the skill sets of the current team and determine what skills gaps we had, especially with respect to upcoming projects. By doing so, I have been able to build a team that is well-equipped to deliver projects according to the budget available.

Overall, my experience as a Tech Lead has been focused on driving innovation, improving team performance, and delivering high-quality results. My background in drones has given me a unique perspective on the technical aspects of the industry, and my ability to work across multiple projects has helped me to develop a well-rounded skill set that is valuable to any company.

              -->
          </ul>
        </JobSection>

        <JobSection
          company="Red Badger"
          companyLink="https://red-badger.com"
          techUsed={[
            'Rust',
            'Kubernetes',
            'Argo CD',
            'Terraform',
            'GitHub Actions',
            'React',
            'TypeScript',
            'GraphQL',
            'PostgreSQL',
            'Jenkins',
            'Istio',
            'Prometheus',
            'Go',
            'Redis',
            'AWS',
            'Google Cloud',
            'Azure',
          ]}
          techLogos={[
            RustLogo,
            ReactLogo,
            TypeScriptLogo,
            KubernetesLogo,
            TerraformLogo,
            GoogleCloudLogo,
            PostgresLogo,
            GoLogo,
            PrometheusLogo,
            ArgoCdLogo,
            GraphQLLogo,
            RedisLogo,
            DockerLogo,
          ]}
          roles={[
            {
              title: 'Senior Software Engineer',
              from: 'Feb 2020',
              to: 'Sept 2022',
            },
            {
              title: 'Software Engineer (Mid II)',
              from: 'March 2019',
              to: 'Jan 2020',
            },
          ]}
          fadeInStep={7}
        >
          <img
            class:list={[logoBaseStyles, 'top-0 w-40 xl:w-[12.5rem]']}
            src={redBadger.src}
            alt="Red Badger logo"
          />

          <h4 class="mb-1 italic">Client projects:</h4>
          <ul class="ml-4 list-disc space-y-4">
            <li>
              <span class="font-bold">Levi’s</span>
              <ul class="ml-4 list-dash">
                <li>
                  Developed an internal tool for Levi’s merchants to develop and
                  collaborate on product lines throughout the various stages of
                  the product season
                </li>
                <li>
                  As the feature team lead for our “brief” feature, I:
                  <ul class="ml-4 list-dash">
                    <li>
                      Collaborated with stakeholders to gather requirements and
                      decide which features would best fit user needs during the
                      “brief stage” of product line development
                    </li>
                    <li>
                      Led a spike exploring different free and paid data grid
                      libraries to determine which would best fit user needs,
                      and then we presented this information back to the client
                      and discussed which tool we would use going forward
                    </li>
                    <li>
                      Participated in user engagement sessions to hear
                      first-hand from users what the pain points of their
                      current process are
                    </li>
                    <li>
                      Collaborated with UX and UI designers to break down work
                      into user stories and tickets with clear acceptance
                      criteria, with a focus on providing value to users
                    </li>
                  </ul>
                </li>
                <li>
                  Demoed new features to users to increase adoption of the tool
                  and gather feedback on what we could improve
                </li>
                <li>Interviewed senior and mid-level engineering candidates</li>
              </ul>
            </li>

            <li>
              <span class="font-bold">Nando’s</span>
              <ul class="ml-4 list-dash">
                <li>
                  Collaborated closely with other teams as we transitioned
                  identity provider to improve uptime and security of the
                  Nando’s app and websites
                </li>
                <li>
                  Developed a GraphQL API in Rust for other Nando’s apps and
                  services to consume
                </li>
                <li>
                  Mentored more junior developers on how to work with the
                  Nando’s mono-repo and Kubernetes platform
                </li>
              </ul>
            </li>

            <li>
              <span class="font-bold">MHRA</span>
              <ul class="ml-4 list-dash">
                <li>
                  Helped create an internal micro-services platform using
                  Kubernetes with Istio as the service mesh, ArgoCD for
                  continuous deployment and Terraform for provisioning
                  infrastructure. The code for this project is open source and
                  available at <Link
                    href="https://github.com/MHRA/products/pulls?q=is:pr+author:sgrowe+sort:created-asc"
                  >
                    github.com/MHRA/products
                  </Link>
                </li>
                <li>
                  Set up monitoring and alerting using Prometheus and Azure
                  monitor, along with documentation on how this set up worked
                </li>
                <li>
                  Created continuous integration and deployment pipelines for
                  multiple Rust micro-services
                </li>
              </ul>
            </li>
          </ul>
        </JobSection>

        <JobSection
          company="Entale"
          companyLink="https://www.dmgventures.co.uk/portfolio/dmgt-acquires-podcast-innovator-entale/"
          techLogos={[
            ReactLogo,
            AWSLogo,
            DynamoDBLogo,
            DockerLogo,
            RedisLogo,
            TerraformLogo,
            PythonLogo,
            ElmLogo,
            // TODO:
            // elasticsearch
          ]}
          techUsed={[
            'React',
            'React Native',
            'ElasticSearch',
            'Flow',
            'Terraform',
            'AWS',
            'DynamoDB',
            'Redis',
            'Circle CI',
            'Python',
            'REST API',
          ]}
          roles={[
            {
              title: 'Full Stack Engineer',
              from: 'Oct 2017',
              to: 'Feb 2019',
            },
          ]}
          fadeInStep={7}
        >
          <img
            class:list={[
              logoBaseStyles,
              'top-0 p-4 rounded-md w-32 xl:w-[9rem] bg-[rgb(255,122,110)]',
            ]}
            src={entale.src}
            alt="Entale logo"
          />

          <ul class="ml-4 list-disc">
            <li>
              Rapidly built upon the pre-existing prototype to create a high
              quality iOS podcast app and publishing platform.
            </li>
            <li>
              Developed various backend services that interact with Redis, AWS
              DynamoDB and Elasticsearch to support the diverse range of
              features offered by the Entale platform.
            </li>
            <li>
              Created and maintained several React web apps and a React Native
              mobile app which involved improving performance and fixing
              difficult to debug issues, such as failed podcast downloads, based
              upon user feedback.
            </li>
            <li>
              Pushed for higher quality in our products whilst still maintaining
              a high pace of development through automated testing, static type
              checking using Flow, code review, and continuous integration to
              ensure broken code was not released to users.
            </li>
            <li>
              Delivered a talk at elm-conf titled “Complex animations done well”
              (available at <Link href="https://youtu.be/DBVHxkMBfF4">
                https://youtu.be/DBVHxkMBfF4
              </Link>).
            </li>
            <li>
              Engaged in regular retrospectives to improve our product
              development process where I suggested and implemented many
              improvements, such as a transition from two week to one week long
              sprints to reduce the amount of wasted planning effort we
              undertook.
            </li>
            <li>
              Made changes to our AWS infrastructure using Terraform and
              deployed services using Docker to ensure all of our environments
              and deployments were easily reproducible and version-controlled.
            </li>
            <li>
              Debugged and fixed production outages and various issues ranging
              from DynamoDB throttling to <span class="lining-nums">EC2</span>
               instances reaching CPU limits.
            </li>
            <li>
              Created a service to scrape the entire iTunes podcast directory &
              load it into ElasticSearch in a timely manner.
            </li>
          </ul>
        </JobSection>

        <JobSection
          company="Qubit"
          companyLink="https://www.coveo.com/en/qubit"
          techLogos={[ReactLogo, ElmLogo]}
          techUsed={['React', 'jQuery', 'Flow', 'CSS']}
          roles={[
            {
              title: 'Javascript Engineer',
              from: 'Nov 2016',
              to: 'Oct 2017',
            },
          ]}
          fadeInStep={8}
        >
          <Qubit
            className={[
              logoBaseStyles,
              'top-0 w-32 xl:w-[9rem] translate-x-2',
            ].join(' ')}
          />

          <ul class="ml-4 list-disc">
            <li>
              Optimised sales on client websites through A/B testing and
              personalisation developed in Javascript using React and jQuery.
            </li>
            <li>
              Delivered training on React and also Elm to fellow engineers who
              may not have used either before.
            </li>
            <li>
              As part of our code review process, I provided constructive and
              friendly feedback to other engineers on the code they had written.
            </li>
            <li>
              Delivered training and support to clients via email and in-person
              to enable them to make the most effective use of our platform.
            </li>
            <li>
              Collaborated with designers, strategists and other developers to
              maximise the impact and effectiveness of the tests we produced.
            </li>
          </ul>
        </JobSection>

        <JobSection
          company="CGI Group"
          companyLink="https://www.cgi.com/en"
          techLogos={[CSharpLogo, PythonLogo]}
          techUsed={['C#', 'Python', 'Angular JS', 'HTML', 'CSS']}
          roles={[
            {
              title: 'Software Developer',
              from: 'Aug 2015',
              to: 'Oct 2016',
            },
          ]}
          fadeInStep={9}
        >
          <CGILogo className={[logoBaseStyles, 'top-0 w-20'].join(' ')} />

          <ul class="ml-4 list-disc">
            <li>
              Developed both the server-side and front-end code of the ePayfact2
              payroll system which serves many commercial and public sector
              clients.
            </li>
            <li>
              Worked in a team to integrate a complex banking system using a
              mixture of technologies, such as message queues, web services and
              managed file transfers.
            </li>
            <li>
              Developed an insurance message processing web service written in
              Python, deployed it on Azure, and created a UI in Angular JS which
              consumed the web service’s api.
            </li>
            <li>
              Raised money for The Prince’s Trust as part of a team in the
              Million Makers competition.
            </li>
          </ul>
        </JobSection>
      </CVSection>

      <CVSection title="Education">
        <JobSection
          company="University of Bath"
          companyLink="https://www.bath.ac.uk"
          techUsed={['C', 'Python']}
          techLogos={[CLogo, PythonLogo]}
          roles={[
            {
              title: 'BSc Physics, 2:1',
              from: '2011',
              to: '2015',
            },
          ]}
          fadeInStep={10}
        >
          {
            /* for some reason this image has a smaller file size as a gif than a png */
          }
          <img
            class:list={[logoBaseStyles, '-top-1 w-40 xl:w-[12.5rem]']}
            src={bathUni.src}
            alt="University of Bath logo"
          />

          <ul class="ml-4 list-disc">
            <li>I completed a module on low-level programming in C.</li>
            <li>
              As part of my final year project supervised by BAE Systems, I
              created optical simulations written in Python.
            </li>
          </ul>
        </JobSection>
      </CVSection>

      <CVSection title="Other skills and interests">
        <ul class="ml-4 animate-fade-in list-disc">
          <li>PADI-qualified open water scuba diver</li>
          <li>Music festivals</li>
          <li>Football</li>
          <li>Skiing</li>
          <li>Travelling</li>
        </ul>
      </CVSection>
    </div>
  </body>
</html>
